<!-- Footer -->
<footer class="bg-primary">

    <!-- Footer Elements -->
    <div class="container">
  
        <div class="row">
            <div class="col-md-12 py-5">
                <div class="text-center">
                    <a class="text-white" href="https://www.jmorbegoso.com" target="_blank">Desarrollado por JM Orbegoso</a>
                </div>
            </div>
        </div>

      <!-- Grid row-->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-12">
          <div class="mb-5 text-center">
  
            <!-- Personal Web -->
            <a href="https://www.jmorbegoso.com" target="_blank">
                <fa-icon [icon]="faEdge" class="mr-md-5 mr-3 fa-3x"></fa-icon>
            </a>

            <!-- LinkedIn -->
            <a href="https://www.linkedin.com/in/jmorbegoso/" target="_blank">
                <fa-icon [icon]="faLinkedin" class="mr-md-5 mr-3 fa-3x"></fa-icon>
            </a>

            <!-- Twitter -->
            <a href="https://twitter.com/JMOrbegosoDev" target="_blank">
                <fa-icon [icon]="faTwitter" class="mr-md-5 mr-3 fa-3x"></fa-icon>
            </a>

            <!-- GitHub -->
            <a href="https://github.com/JMOrbegoso" target="_blank">
                <fa-icon [icon]="faGithub" class="mr-md-5 mr-3 fa-3x"></fa-icon>
            </a>
          </div>
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row-->
  
    </div>
    <!-- Footer Elements -->
  
    <!-- Copyright -->
    <div class="footer-copyright container-fluid text-center py-3 text-white-50">
        <p>Todos los datos son públicos y obtenidos desde Worldometers y Johns Hopkins University.</p>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->