<table class="table table-bordered">
  <tbody>
    <tr>
      <td class="font-weight-bold">País</td>
      <td>{{ this.country.country }}</td>
    </tr>
    <tr>
      <td class="font-weight-bold">Población</td>
      <td>{{ this.country.population }} habitantes</td>
    </tr>

    <!--
        <tr>
            <td class="font-weight-bold">Casos de Ayer</td>
            <td>{{this.country.todayCases}}</td>
        </tr>
        <tr>
            <td class="font-weight-bold">Fallecidos de Ayer</td>
            <td>{{this.country.todayDeaths}}</td>
        </tr>
        <tr>
            <td class="font-weight-bold">Recuperados de Ayer</td>
            <td>{{this.country.todayRecovered}}</td>
        </tr>-->

    <tr>
      <td class="font-weight-bold">Casos en Total</td>
      <td>{{ this.country.cases }}</td>
    </tr>
    <tr>
      <td class="font-weight-bold">Fallecidos en Total</td>
      <td>{{ this.country.deaths }}</td>
    </tr>
    <tr>
      <td class="font-weight-bold">Recuperados en Total</td>
      <td>{{ this.country.recovered }}</td>
    </tr>
    <tr>
      <td class="font-weight-bold">Pruebas en Total</td>
      <td>{{ this.country.tests }}</td>
    </tr>

    <tr>
      <td class="font-weight-bold">Casos por 1 millón de habitantes</td>
      <td>{{ this.country.casesPerOneMillion }}</td>
    </tr>
    <tr>
      <td class="font-weight-bold">Muertes por 1 millón de habitantes</td>
      <td>{{ this.country.deathsPerOneMillion }}</td>
    </tr>
    <tr>
      <td class="font-weight-bold">Recuperados por 1 millón de habitantes</td>
      <td>{{ this.country.recoveredPerOneMillion }}</td>
    </tr>
    <tr>
      <td class="font-weight-bold">Pruebas por 1 millón de habitantes</td>
      <td>{{ this.country.testsPerOneMillion }}</td>
    </tr>

    <tr>
      <td class="font-weight-bold">Un caso por cada</td>
      <td>{{ this.country.oneCasePerPeople }} habitantes</td>
    </tr>
    <tr>
      <td class="font-weight-bold">Una muerte por cada</td>
      <td>{{ this.country.oneDeathPerPeople }} habitantes</td>
    </tr>
    <tr>
      <td class="font-weight-bold">Una prueba por cada</td>
      <td>{{ this.country.oneTestPerPeople }} habitantes</td>
    </tr>
  </tbody>
</table>

